        ol, body{
            margin: 0;
            padding: 0
        }
        
        .c9 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 81pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c19 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 52.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c8 {
            border-right-style: solid;
            /*padding: 2.8pt 19.8pt 4.8pt 19.8pt;*/
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c23 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 109.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c17 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 38.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c10 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 109.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c6 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 38.2pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c18 {
            border-right-style: solid;
            /*padding: 14.4pt 14.4pt 14.4pt 14.4pt;*/
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            /*width: 1000pt;*/
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c7 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #b7b7b7;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 81pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c27 {
            border-right-style: solid;
            padding: 14.4pt 14.4pt 14.4pt 14.4pt;
            border-bottom-color: #ffffff;
            border-top-width: 0pt;
            border-right-width: 0pt;
            border-left-color: #ffffff;
            vertical-align: top;
            border-right-color: #ffffff;
            border-left-width: 0pt;
            border-top-style: solid;
            background-color: #ffffff;
            border-left-style: solid;
            border-bottom-width: 0pt;
            width: 52.5pt;
            border-top-color: #ffffff;
            border-bottom-style: solid
        }
        
        .c1 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.0;
            orphans: 2;
            widows: 2;
            text-align: left;
            direction: ltr;
            height: 11pt
        }
        
        .c22 {
            color: #555555;
            font-weight: bold;
            text-decoration: none;
            vertical-align: baseline;
            font-size: 27pt;
            font-family: "Arial";
            font-style: normal
        }

        .c16 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 1.15;
            text-align: center;
            direction: ltr
        }
        
        .c26 {
            padding-top: 0pt;
            padding-bottom: 0pt;
            line-height: 2.0;
            text-align: center;
            direction: ltr
        }
        
        .c24 {
            border-collapse: collapse;
			margin: 0 auto;
        }
        
		.c12 .c26 {
			margin-top: 5px;
		}
		
        .c20 {
            color: #555555;
            font-size: 19pt
        }
        
        
        .c25 {
            height: 39pt
        }
        
        .c3 {
            height: 54pt
        }
        
        .subtitle {
            padding-top: 0pt;
            color: #666666;
            font-size: 15pt;
            padding-bottom: 16pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        li {
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        p {
            margin: 0;
            color: #000000;
            font-size: 11pt;
            font-family: "Arial"
        }
        
        h1 {
            padding-top: 20pt;
            color: #000000;
            font-size: 20pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            text-align: left
        }
        
        h2 {
            padding-top: 18pt;
            color: #000000;
            font-size: 16pt;
            padding-bottom: 6pt;
            font-family: "Arial";
            line-height: 1.15;
            text-align: left;
        }
        
        h3 {
            padding-top: 16pt;
            color: #434343;
            font-size: 14pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            text-align: left
        }
        
        h4 {
            padding-top: 14pt;
            color: #666666;
            font-size: 12pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            orphans: 2;
            widows: 2;
            text-align: left
        }
        
        h5 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            text-align: left
        }
        
        h6 {
            padding-top: 12pt;
            color: #666666;
            font-size: 11pt;
            padding-bottom: 4pt;
            font-family: "Arial";
            line-height: 1.15;
            page-break-after: avoid;
            font-style: italic;
            text-align: left
        }